<a href="https://colab.research.google.com/github/ddodds42/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/DAVID_DODDS_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import pandas as pd
import pandas_profiling

# Read New York City property sales data
df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

# Change column names: replace spaces with underscores
df.columns = [col.replace(' ', '_') for col in df]

# SALE_PRICE was read as strings.
# Remove symbols, convert to integer
df['SALE_PRICE'] = (
    df['SALE_PRICE']
    .str.replace('$','')
    .str.replace('-','')
    .str.replace(',','')
    .astype(int)
)

In [0]:
# BOROUGH is a numeric column, but arguably should be a categorical feature,
# so convert it from a number to a string
df['BOROUGH'] = df['BOROUGH'].astype(str)

In [0]:
# Reduce cardinality for NEIGHBORHOOD feature

# Get a list of the top 10 neighborhoods
top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

# At locations where the neighborhood is NOT in the top 10, 
# replace the neighborhood with 'OTHER'
df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'

In [389]:
df.head()

  BOROUGH             NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
0       1                    OTHER  ...          0  01/01/2019
1       1                    OTHER  ...          0  01/01/2019
2       1                    OTHER  ...          0  01/01/2019
3       1                    OTHER  ...          0  01/01/2019
4       1  UPPER EAST SIDE (59-79)  ...          0  01/01/2019

[5 rows x 21 columns]

In [390]:
df.describe()

              BLOCK           LOT  ...  TAX_CLASS_AT_TIME_OF_SALE    SALE_PRICE
count  23040.000000  23040.000000  ...               23040.000000  2.304000e+04
mean    4459.116493    353.948481  ...                   1.624479  1.328133e+06
std     3713.269887    628.025255  ...                   0.803898  1.025394e+07
min        1.000000      1.000000  ...                   1.000000  0.000000e+00
25%     1341.000000     22.000000  ...                   1.000000  0.000000e+00
50%     3546.000000     49.000000  ...                   1.000000  4.550000e+05
75%     6673.750000    375.000000  ...                   2.000000  8.750000e+05
max    16350.000000   9057.000000  ...                   4.000000  8.500000e+08

[8 rows x 11 columns]

In [391]:
df.isna().sum()

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING_CLASS_CATEGORY               0
TAX_CLASS_AT_PRESENT                  1
BLOCK                                 0
LOT                                   0
EASE-MENT                         23040
BUILDING_CLASS_AT_PRESENT             1
ADDRESS                               0
APARTMENT_NUMBER                  17839
ZIP_CODE                              1
RESIDENTIAL_UNITS                     1
COMMERCIAL_UNITS                      1
TOTAL_UNITS                           1
LAND_SQUARE_FEET                     53
GROSS_SQUARE_FEET                     1
YEAR_BUILT                           35
TAX_CLASS_AT_TIME_OF_SALE             0
BUILDING_CLASS_AT_TIME_OF_SALE        0
SALE_PRICE                            0
SALE_DATE                             0
dtype: int64

In [392]:
df = df.drop(columns=['EASE-MENT','APARTMENT_NUMBER'])
df.isna().sum()

BOROUGH                            0
NEIGHBORHOOD                       0
BUILDING_CLASS_CATEGORY            0
TAX_CLASS_AT_PRESENT               1
BLOCK                              0
LOT                                0
BUILDING_CLASS_AT_PRESENT          1
ADDRESS                            0
ZIP_CODE                           1
RESIDENTIAL_UNITS                  1
COMMERCIAL_UNITS                   1
TOTAL_UNITS                        1
LAND_SQUARE_FEET                  53
GROSS_SQUARE_FEET                  1
YEAR_BUILT                        35
TAX_CLASS_AT_TIME_OF_SALE          0
BUILDING_CLASS_AT_TIME_OF_SALE     0
SALE_PRICE                         0
SALE_DATE                          0
dtype: int64

In [393]:
df.fillna(df.mean(), inplace=True)
df.isna().sum()

BOROUGH                            0
NEIGHBORHOOD                       0
BUILDING_CLASS_CATEGORY            0
TAX_CLASS_AT_PRESENT               1
BLOCK                              0
LOT                                0
BUILDING_CLASS_AT_PRESENT          1
ADDRESS                            0
ZIP_CODE                           0
RESIDENTIAL_UNITS                  0
COMMERCIAL_UNITS                   0
TOTAL_UNITS                        0
LAND_SQUARE_FEET                  53
GROSS_SQUARE_FEET                  0
YEAR_BUILT                         0
TAX_CLASS_AT_TIME_OF_SALE          0
BUILDING_CLASS_AT_TIME_OF_SALE     0
SALE_PRICE                         0
SALE_DATE                          0
dtype: int64

In [394]:
df.dropna(inplace=True)
df.isna().sum()

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING_CLASS_CATEGORY           0
TAX_CLASS_AT_PRESENT              0
BLOCK                             0
LOT                               0
BUILDING_CLASS_AT_PRESENT         0
ADDRESS                           0
ZIP_CODE                          0
RESIDENTIAL_UNITS                 0
COMMERCIAL_UNITS                  0
TOTAL_UNITS                       0
LAND_SQUARE_FEET                  0
GROSS_SQUARE_FEET                 0
YEAR_BUILT                        0
TAX_CLASS_AT_TIME_OF_SALE         0
BUILDING_CLASS_AT_TIME_OF_SALE    0
SALE_PRICE                        0
SALE_DATE                         0
dtype: int64

In [395]:
df['LAND_SQUARE_FEET'] = (
    df['LAND_SQUARE_FEET']
    .str.replace(',','')
    .str.replace('#','0')
    .astype(int)
)

df.LAND_SQUARE_FEET.describe()

# df.drop(columns='LAND_SQUARE_FEET', inplace=True)

count     22987.000000
mean       5444.546483
std       23856.916032
min           0.000000
25%           0.000000
50%        2000.000000
75%        3417.500000
max      970000.000000
Name: LAND_SQUARE_FEET, dtype: float64

In [0]:
df['GROSS_SQUARE_FEET'] = df['GROSS_SQUARE_FEET'].fillna(0).astype(int)

In [0]:
df['YEAR_BUILT'] = df['YEAR_BUILT'].fillna(0).astype(int)

In [0]:
df['ZIP_CODE'] = df['ZIP_CODE'].fillna(0).astype(int).astype(str).replace('^0$', '00000')

In [0]:
df.drop(columns='TAX_CLASS_AT_TIME_OF_SALE', inplace=True)

In [400]:
new = df['BUILDING_CLASS_CATEGORY'] == '01 ONE FAMILY DWELLINGS'
df = df[new]
print(df.shape)
df.head()

(5061, 18)

   BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
7        2        OTHER  ...          0  01/01/2019
8        2        OTHER  ...          0  01/01/2019
9        2        OTHER  ...          0  01/01/2019
42       3        OTHER  ...          0  01/01/2019
44       3        OTHER  ...     550000  01/01/2019

[5 rows x 18 columns]

In [401]:
affl = (df.SALE_PRICE <= 2000000) & (df.SALE_PRICE >= 100000)
df = df[affl]
print(df.shape)
df.head()

(3164, 18)

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 18 columns]

In [402]:
df.drop(columns='BUILDING_CLASS_CATEGORY', inplace=True)
df.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'ZIP_CODE', 'RESIDENTIAL_UNITS',
       'COMMERCIAL_UNITS', 'TOTAL_UNITS', 'LAND_SQUARE_FEET',
       'GROSS_SQUARE_FEET', 'YEAR_BUILT', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [403]:
train = df[df.SALE_DATE < '04/01/2019']
print(train.shape)
train.head()

(2517, 17)

    BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
44        3        OTHER  ...     550000  01/01/2019
61        4        OTHER  ...     200000  01/01/2019
78        2        OTHER  ...     810000  01/02/2019
108       3        OTHER  ...     125000  01/02/2019
111       3        OTHER  ...     620000  01/02/2019

[5 rows x 17 columns]

In [404]:
test = df[df.SALE_DATE >= '04/01/2019']
print(test.shape)
test.head()

(647, 17)

      BOROUGH NEIGHBORHOOD  ... SALE_PRICE   SALE_DATE
18235       2        OTHER  ...     895000  04/01/2019
18239       2        OTHER  ...     253500  04/01/2019
18244       3        OTHER  ...    1300000  04/01/2019
18280       3        OTHER  ...     789000  04/01/2019
18285       3        OTHER  ...     525000  04/01/2019

[5 rows x 17 columns]

In [405]:
train.describe(exclude='number').T.sort_values(by='unique')

                               count unique                top  freq
TAX_CLASS_AT_PRESENT            2517      2                  1  2486
BOROUGH                         2517      5                  4  1209
NEIGHBORHOOD                    2517      7              OTHER  2368
BUILDING_CLASS_AT_TIME_OF_SALE  2517     11                 A1   921
BUILDING_CLASS_AT_PRESENT       2517     13                 A1   921
SALE_DATE                       2517     68         01/31/2019    78
ZIP_CODE                        2517    123              10312   115
ADDRESS                         2517   2507  22-40 93RD STREET     2

In [406]:
train.groupby('BUILDING_CLASS_AT_TIME_OF_SALE')['SALE_PRICE'].describe()

                                count          mean  ...        75%        max
BUILDING_CLASS_AT_TIME_OF_SALE                       ...
A0                               67.0  6.884526e+05  ...   833500.0  1200000.0
A1                              921.0  6.398825e+05  ...   772500.0  1955000.0
A2                              416.0  5.955554e+05  ...   782500.0  1614600.0
A3                               38.0  1.199412e+06  ...  1528750.0  1876000.0
A4                               14.0  1.002209e+06  ...  1338750.0  2000000.0
A5                              781.0  5.705963e+05  ...   688888.0  1775000.0
A6                               15.0  2.254655e+05  ...   261000.0   399888.0
A8                               31.0  3.929000e+05  ...   462500.0   820000.0
A9                              194.0  6.382551e+05  ...   760000.0  2000000.0
S0                                1.0  1.925000e+06  ...  1925000.0  1925000.0
S1                               39.0  8.544496e+05  ...  1175000.0  1870000.0

[11 rows x 8 columns]

In [0]:
target = 'SALE_PRICE'
high_cardinality = ['BUILDING_CLASS_AT_PRESENT','SALE_DATE','ADDRESS']
features = train.columns.drop([target] + high_cardinality)

In [0]:
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]

In [409]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names = True)
X_train = encoder.fit_transform(X_train)
X_train.columns

Index(['BOROUGH_3', 'BOROUGH_4', 'BOROUGH_2', 'BOROUGH_5', 'BOROUGH_1',
       'NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_EAST NEW YORK', 'NEIGHBORHOOD_BEDFORD STUYVESANT',
       'NEIGHBORHOOD_FOREST HILLS',
       ...
       'BUILDING_CLASS_AT_TIME_OF_SALE_A1',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A5',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A0',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A2',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S1',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A4',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A6',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A8',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S0'],
      dtype='object', length=156)

In [410]:
X_test = encoder.transform(X_test)
X_test.columns

Index(['BOROUGH_3', 'BOROUGH_4', 'BOROUGH_2', 'BOROUGH_5', 'BOROUGH_1',
       'NEIGHBORHOOD_OTHER', 'NEIGHBORHOOD_FLUSHING-NORTH',
       'NEIGHBORHOOD_EAST NEW YORK', 'NEIGHBORHOOD_BEDFORD STUYVESANT',
       'NEIGHBORHOOD_FOREST HILLS',
       ...
       'BUILDING_CLASS_AT_TIME_OF_SALE_A1',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A5',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A0',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A2',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A3',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S1',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A4',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A6',
       'BUILDING_CLASS_AT_TIME_OF_SALE_A8',
       'BUILDING_CLASS_AT_TIME_OF_SALE_S0'],
      dtype='object', length=156)

In [411]:
len(X_train.columns)

156

In [412]:
from sklearn.feature_selection import SelectKBest, f_regression
selector = SelectKBest(score_func=f_regression, k=15)
X_train_select = selector.fit_transform(X_train, y_train)
X_test_select = selector.transform(X_test)
X_train_select.shape, X_test_select.shape

((2517, 15), (647, 15))

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [414]:
for k in range(1, len(X_train.columns)+1):
  print(f'{k} features:')

  selector = SelectKBest(score_func=f_regression, k=k)
  X_train_select = selector.fit_transform(X_train, y_train)
  X_test_select = selector.transform(X_test)

  model = LinearRegression()
  model.fit(X_train_select, y_train)
  y_pred = model.predict(X_test_select)
  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test Mean Abs. Error = ${mae:,.2f} \n')

1 features:
Test Mean Abs. Error = $185,788.22

2 features:
Test Mean Abs. Error = $181,871.46

3 features:
Test Mean Abs. Error = $181,602.59

4 features:
Test Mean Abs. Error = $181,376.33

5 features:
Test Mean Abs. Error = $175,853.70

6 features:
Test Mean Abs. Error = $174,390.66

7 features:
Test Mean Abs. Error = $174,021.20

8 features:
Test Mean Abs. Error = $172,778.12

9 features:
Test Mean Abs. Error = $172,739.68

10 features:
Test Mean Abs. Error = $169,961.46

11 features:
Test Mean Abs. Error = $157,213.08

12 features:
Test Mean Abs. Error = $156,790.49

13 features:
Test Mean Abs. Error = $156,503.09

14 features:
Test Mean Abs. Error = $155,962.82

15 features:
Test Mean Abs. Error = $154,389.30

16 features:
Test Mean Abs. Error = $152,896.29

17 features:
Test Mean Abs. Error = $154,879.77

18 features:
Test Mean Abs. Error = $154,856.63

19 features:
Test Mean Abs. Error = $156,132.88

20 features:
Test Mean Abs. Error = $155,997.24

21 features:
Test Mean Abs. Error = $155,257.46

22 features:
Test Mean Abs. Error = $153,046.70

23 features:
Test Mean Abs. Error = $152,808.57

24 features:
Test Mean Abs. Error = $152,608.19

25 features:
Test Mean Abs. Error = $152,618.04

26 features:
Test Mean Abs. Error = $151,449.07

27 features:
Test Mean Abs. Error = $150,572.83

28 features:
Test Mean Abs. Error = $151,898.08

29 features:
Test Mean Abs. Error = $152,243.43

30 features:
Test Mean Abs. Error = $152,114.55

31 features:
Test Mean Abs. Error = $152,633.38

32 features:
Test Mean Abs. Error = $152,494.30

33 features:
Test Mean Abs. Error = $150,871.29

34 features:
Test Mean Abs. Error = $146,233.84

35 features:
Test Mean Abs. Error = $146,153.49

36 features:
Test Mean Abs. Error = $146,153.49

37 features:
Test Mean Abs. Error = $144,531.28

38 features:
Test Mean Abs. Error = $143,775.27

39 features:
Test Mean Abs. Error = $143,775.27

40 features:
Test Mean Abs. Error = $143,521.32

41 features:
Test Mean Abs. Error = $143,410.62

42 features:
Test Mean Abs. Error = $143,348.63

43 features:
Test Mean Abs. Error = $143,464.14

44 features:
Test Mean Abs. Error = $143,346.87

45 features:
Test Mean Abs. Error = $144,533.62

46 features:
Test Mean Abs. Error = $144,465.48

47 features:
Test Mean Abs. Error = $144,466.64

48 features:
Test Mean Abs. Error = $143,898.65

49 features:
Test Mean Abs. Error = $144,401.92

50 features:
Test Mean Abs. Error = $144,739.63

51 features:
Test Mean Abs. Error = $144,434.07

52 features:
Test Mean Abs. Error = $143,757.37

53 features:
Test Mean Abs. Error = $142,764.66

54 features:
Test Mean Abs. Error = $142,833.45

55 features:
Test Mean Abs. Error = $142,594.09

56 features:
Test Mean Abs. Error = $142,700.81

57 features:
Test Mean Abs. Error = $142,672.90

58 features:
Test Mean Abs. Error = $142,735.89

59 features:
Test Mean Abs. Error = $142,241.23

60 features:
Test Mean Abs. Error = $142,918.77

61 features:
Test Mean Abs. Error = $142,213.59

62 features:
Test Mean Abs. Error = $142,821.56

63 features:
Test Mean Abs. Error = $143,291.41

64 features:
Test Mean Abs. Error = $143,357.29

65 features:
Test Mean Abs. Error = $142,950.17

66 features:
Test Mean Abs. Error = $142,928.34

67 features:
Test Mean Abs. Error = $142,998.90

68 features:
Test Mean Abs. Error = $142,948.57

69 features:
Test Mean Abs. Error = $142,910.28

70 features:
Test Mean Abs. Error = $142,597.61

71 features:
Test Mean Abs. Error = $141,185.30

72 features:
Test Mean Abs. Error = $141,141.89

73 features:
Test Mean Abs. Error = $140,548.25

74 features:
Test Mean Abs. Error = $139,761.61

75 features:
Test Mean Abs. Error = $140,051.68

76 features:
Test Mean Abs. Error = $139,696.72

77 features:
Test Mean Abs. Error = $140,119.46

78 features:
Test Mean Abs. Error = $140,239.30

79 features:
Test Mean Abs. Error = $140,281.04

80 features:
Test Mean Abs. Error = $140,186.52

81 features:
Test Mean Abs. Error = $139,954.95

82 features:
Test Mean Abs. Error = $140,314.33

83 features:
Test Mean Abs. Error = $140,141.51

84 features:
Test Mean Abs. Error = $140,252.76

85 features:
Test Mean Abs. Error = $140,287.22

86 features:
Test Mean Abs. Error = $140,319.83

87 features:
Test Mean Abs. Error = $140,304.03

88 features:
Test Mean Abs. Error = $140,323.93

89 features:
Test Mean Abs. Error = $139,209.60

90 features:
Test Mean Abs. Error = $139,297.10

91 features:
Test Mean Abs. Error = $140,059.18

92 features:
Test Mean Abs. Error = $139,916.27

93 features:
Test Mean Abs. Error = $140,384.44

94 features:
Test Mean Abs. Error = $140,378.28

95 features:
Test Mean Abs. Error = $140,262.03

96 features:
Test Mean Abs. Error = $140,212.60

97 features:
Test Mean Abs. Error = $140,301.01

98 features:
Test Mean Abs. Error = $140,134.24

99 features:
Test Mean Abs. Error = $140,178.08

100 features:
Test Mean Abs. Error = $140,244.80

101 features:
Test Mean Abs. Error = $140,246.58

102 features:
Test Mean Abs. Error = $139,816.93

103 features:
Test Mean Abs. Error = $139,870.64

104 features:
Test Mean Abs. Error = $140,022.83

105 features:
Test Mean Abs. Error = $139,968.37

106 features:
Test Mean Abs. Error = $139,752.08

107 features:
Test Mean Abs. Error = $139,999.55

108 features:
Test Mean Abs. Error = $140,845.23

109 features:
Test Mean Abs. Error = $140,807.30

110 features:
Test Mean Abs. Error = $140,518.16

111 features:
Test Mean Abs. Error = $140,221.86

112 features:
Test Mean Abs. Error = $140,425.83

113 features:
Test Mean Abs. Error = $140,310.81

114 features:
Test Mean Abs. Error = $140,396.30

115 features:
Test Mean Abs. Error = $140,377.20

116 features:
Test Mean Abs. Error = $140,323.20

117 features:
Test Mean Abs. Error = $140,322.81

118 features:
Test Mean Abs. Error = $140,342.56

119 features:
Test Mean Abs. Error = $140,333.25

120 features:
Test Mean Abs. Error = $140,662.96

121 features:
Test Mean Abs. Error = $140,709.52

122 features:
Test Mean Abs. Error = $141,044.40

123 features:
Test Mean Abs. Error = $141,027.20

124 features:
Test Mean Abs. Error = $140,703.60

125 features:
Test Mean Abs. Error = $140,690.22

126 features:
Test Mean Abs. Error = $140,526.79

127 features:
Test Mean Abs. Error = $140,294.03

128 features:
Test Mean Abs. Error = $140,288.43

129 features:
Test Mean Abs. Error = $60,511,926,994.13

130 features:
Test Mean Abs. Error = $57,146,278,269.52

131 features:
Test Mean Abs. Error = $23,723,653,522.23

132 features:
Test Mean Abs. Error = $24,102,398,787.62

133 features:
Test Mean Abs. Error = $78,749,253,411.26

134 features:
Test Mean Abs. Error = $48,821,387,414.28

135 features:
Test Mean Abs. Error = $5,210,930,165.83

136 features:
Test Mean Abs. Error = $160,429,839,534.86

137 features:
Test Mean Abs. Error = $71,569,351,252.69

138 features:
Test Mean Abs. Error = $140,425.00

139 features:
Test Mean Abs. Error = $52,102,836,212.26

140 features:
Test Mean Abs. Error = $2,131,972,819.13

141 features:
Test Mean Abs. Error = $16,963,211,954.92

142 features:
Test Mean Abs. Error = $140,142.71

143 features:
Test Mean Abs. Error = $140,393.51

144 features:
Test Mean Abs. Error = $185,386,346,122.80

145 features:
Test Mean Abs. Error = $29,605,425,027.72

146 features:
Test Mean Abs. Error = $140,372.49

147 features:
Test Mean Abs. Error = $140,286.65

148 features:
Test Mean Abs. Error = $140,259.02

149 features:
Test Mean Abs. Error = $402,387,303,818.48

150 features:
Test Mean Abs. Error = $170,004,861,498.73

151 features:
Test Mean Abs. Error = $265,447,210,871.12

152 features:
Test Mean Abs. Error = $207,468,508,949.65

153 features:
Test Mean Abs. Error = $462,921,166,567.07

154 features:
Test Mean Abs. Error = $296,776,648,202.57

155 features:
Test Mean Abs. Error = $82,159,965,148.27

156 features:
Test Mean Abs. Error = $606,476,174,047.32

# According to this report, the optimal number of features to run through SelectKBest is k=89, with an
#MAE = $139,209.06

In [417]:
from sklearn.feature_selection import SelectKBest, f_regression
selector = SelectKBest(score_func=f_regression, k=89)
X_train_select = selector.fit_transform(X_train, y_train)
X_test_select = selector.transform(X_test)
X_train_select.shape, X_test_select.shape

((2517, 89), (647, 89))

In [418]:
selected_mask = selector.get_support()
all_names = X_train.columns
selected_names = all_names[selected_mask]
excluded_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
  print(name)

print('\n Features excluded:')
for name in excluded_names:
  print(name)

Features selected:
BOROUGH_3
BOROUGH_4
BOROUGH_2
BOROUGH_5
NEIGHBORHOOD_OTHER
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_EAST NEW YORK
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_ASTORIA
TAX_CLASS_AT_PRESENT_1
TAX_CLASS_AT_PRESENT_1D
BLOCK
LOT
ZIP_CODE_11230
ZIP_CODE_11229
ZIP_CODE_11364
ZIP_CODE_11373
ZIP_CODE_11365
ZIP_CODE_11429
ZIP_CODE_11415
ZIP_CODE_11413
ZIP_CODE_11434
ZIP_CODE_10312
ZIP_CODE_11236
ZIP_CODE_11228
ZIP_CODE_11218
ZIP_CODE_11210
ZIP_CODE_11411
ZIP_CODE_11362
ZIP_CODE_11367
ZIP_CODE_11366
ZIP_CODE_11432
ZIP_CODE_10306
ZIP_CODE_10302
ZIP_CODE_10469
ZIP_CODE_11215
ZIP_CODE_11360
ZIP_CODE_11361
ZIP_CODE_11375
ZIP_CODE_11363
ZIP_CODE_11374
ZIP_CODE_11694
ZIP_CODE_11422
ZIP_CODE_11433
ZIP_CODE_11104
ZIP_CODE_11357
ZIP_CODE_10466
ZIP_CODE_10473
ZIP_CODE_11209
ZIP_CODE_11412
ZIP_CODE_10303
ZIP_CODE_10465
ZIP_CODE_11223
ZIP_CODE_11697
ZIP_CODE_11358
ZIP_CODE_11204
ZIP_CODE_11208
ZIP_CODE_11355
ZIP_CODE_10467
ZIP_CODE_10310
ZIP_CODE_10471
ZIP_CODE_11693
ZIP_CODE_11219
ZIP_CODE_11235
ZIP_CODE_11436
ZIP_CODE_11105
ZIP_CODE_11214
ZIP_CODE_11103
ZIP_CODE_11217
ZIP_CODE_11232
ZIP_CODE_11372
ZIP_CODE_11692
ZIP_CODE_11225
ZIP_CODE_11222
ZIP_CODE_11238
RESIDENTIAL_UNITS
COMMERCIAL_UNITS
TOTAL_UNITS
LAND_SQUARE_FEET
GROSS_SQUARE_FEET
BUILDING_CLASS_AT_TIME_OF_SALE_A1
BUILDING_CLASS_AT_TIME_OF_SALE_A5
BUILDING_CLASS_AT_TIME_OF_SALE_A3
BUILDING_CLASS_AT_TIME_OF_SALE_S1
BUILDING_CLASS_AT_TIME_OF_SALE_A4
BUILDING_CLASS_AT_TIME_OF_SALE_A6
BUILDING_CLASS_AT_TIME_OF_SALE_A8
BUILDING_CLASS_AT_TIME_OF_SALE_S0

 Features excluded:
BOROUGH_1
NEIGHBORHOOD_BEDFORD STUYVESANT
ZIP_CODE_11427
ZIP_CODE_10461
ZIP_CODE_11226
ZIP_CODE_11203
ZIP_CODE_11414
ZIP_CODE_11369
ZIP_CODE_11435
ZIP_CODE_10308
ZIP_CODE_10314
ZIP_CODE_11207
ZIP_CODE_11234
ZIP_CODE_11691
ZIP_CODE_11354
ZIP_CODE_11423
ZIP_CODE_11385
ZIP_CODE_11420
ZIP_CODE_10304
ZIP_CODE_10305
ZIP_CODE_10309
ZIP_CODE_10463
ZIP_CODE_11216
ZIP_CODE_11426
ZIP_CODE_11379
ZIP_CODE_10307
ZIP_CODE_11428
ZIP_CODE_11417
ZIP_CODE_11418
ZIP_CODE_10457
ZIP_CODE_10454
ZIP_CODE_11040
ZIP_CODE_11419
ZIP_CODE_11377
ZIP_CODE_10452
ZIP_CODE_11356
ZIP_CODE_11421
ZIP_CODE_10472
ZIP_CODE_11378
ZIP_CODE_11212
ZIP_CODE_11370
ZIP_CODE_10301
ZIP_CODE_11001
ZIP_CODE_10470
ZIP_CODE_10475
ZIP_CODE_11220
ZIP_CODE_11213
ZIP_CODE_11004
ZIP_CODE_11224
ZIP_CODE_10453
ZIP_CODE_10462
ZIP_CODE_10464
ZIP_CODE_10458
ZIP_CODE_11368
ZIP_CODE_11416
ZIP_CODE_10468
ZIP_CODE_11221
ZIP_CODE_11233
ZIP_CODE_10456
ZIP_CODE_10455
ZIP_CODE_10460
ZIP_CODE_11102
ZIP_CODE_10459
YEAR_BUILT
BUILDING_CLASS_AT_TIME_OF_SALE_A9
BUILDING_CLASS_AT_TIME_OF_SALE_A0
BUILDING_CLASS_AT_TIME_OF_SALE_A2

In [0]:
from sklearn.linear_model import RidgeCV, Ridge
import matplotlib.pyplot as plt
ridge = RidgeCV(alphas=alphas, normalize=True)

In [437]:
for alpha in [0.12, 0.14, 0.15, 0.16, 0.17]:
  print(f'Ridge Regression, alpha = {alpha}')
  model = Ridge(alpha=alpha, normalize=True)
  model.fit(X_train_select, y_train)
  y_pred = model.predict(X_test_select)

  mae = mean_absolute_error(y_test, y_pred)
  print(f'Test MAE: ${mae:,.2f}')

  # coefficients = pd.Series(model.coef_, selected_names)
  # plt.figure(figsize=(16,8))
  # coefficients.sort_values().plot.barh(color='grey')
  # plt.xlim(10,-10)
  # plt.show()

Ridge Regression, alpha = 0.12
Test MAE: $138,125.33
Ridge Regression, alpha = 0.14
Test MAE: $138,039.68
Ridge Regression, alpha = 0.15
Test MAE: $138,008.65
Ridge Regression, alpha = 0.16
Test MAE: $137,983.67
Ridge Regression, alpha = 0.17
Test MAE: $137,971.26

# Matplotlib had a little stagefright on this cell, so I muted it. I honed into an optimal alpha of around 0.15. With the same 89 features, and a ridge regression of alpha=0.15, I was able to get an MAE=$138,008.65, which is $$100 less than before ridge regression!

In [424]:
X_train_select

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [x] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [x] Do train/test split. Use data from January March 2019 to train. Use data from April 2019 to test.
- [X] Do one-hot encoding of categorical features.
- [X] Do feature selection with `SelectKBest`.
- [x] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [x] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! 
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youre interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).