<a href="https://colab.research.google.com/github/ddodds42/DS-Unit-2-Linear-Models/blob/master/module4-logistic-regression/DAVID_DODDS_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
df

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [8]:
df.isna().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [9]:
for feature in list(df.columns):
  print(df[feature].value_counts())
  print('\n')

California     169
Other          156
Asada           43
Surf & Turf     28
Carnitas        25
Name: Burrito, dtype: int64


8/30/2016    29
6/24/2016     9
8/27/2019     9
5/13/2016     7
4/15/2016     7
             ..
8/10/2016     1
1/2/2018      1
3/19/2016     1
2/23/2017     1
5/28/2016     1
Name: Date, Length: 169, dtype: int64


4.0    41
4.5    18
3.5    18
3.0     7
2.5     2
4.2     1
Name: Yelp, dtype: int64


4.4    12
4.1    12
4.2    11
4.0     9
4.5     6
4.3     6
3.9     6
3.8     6
4.7     4
4.6     3
3.4     2
3.7     2
4.9     2
3.3     2
4.8     1
2.9     1
5.0     1
3.5     1
Name: Google, dtype: int64


x      21
X       3
No      1
Yes     1
Name: Chips, dtype: int64


6.25     40
5.99     23
6.99     23
7.90     20
7.50     17
         ..
6.70      1
11.50     1
25.00     1
4.59      1
5.45      1
Name: Cost, Length: 98, dtype: int64


4.00    126
3.50     82
3.00     80
2.00     26
5.00     22
2.50     22
4.50     21
1.00      7
3.20      4
4.30      4
3.70      3
3.80      3
3.75      3
1.50      2
3.90      2
4.20      2
4.25      1
0.50      1
4.40      1
2.80      1
4.10      1
2.30      1
3.30      1
2.20      1
4.75      1
Name: Hunger, dtype: int64


450.0    3
550.0    2
540.0    2
635.0    1
350.0    1
520.0    1
476.0    1
560.0    1
920.0    1
430.0    1
600.0    1
610.0    1
580.0    1
620.0    1
420.0    1
925.0    1
425.0    1
415.0    1
Name: Mass (g), dtype: int64


0.625000    2
0.600649    1
0.726190    1
0.687500    1
0.632353    1
0.617647    1
0.560000    1
0.632653    1
0.865672    1
0.708333    1
0.744681    1
0.785714    1
0.597403    1
0.626506    1
0.683544    1
0.613636    1
0.565657    1
0.783951    1
0.779221    1
0.691667    1
0.703125    1
Name: Density (g/mL), dtype: int64


20.00    34
19.00    29
18.00    24
18.50    23
19.50    21
21.00    19
20.50    17
22.50    16
23.00    16
22.00    16
17.00    14
21.50    13
17.50     9
16.50     5
23.50     5
24.00     4
25.00     2
25.50     2
15.00     2
15.50     2
24.50     2
21.30     1
20.75     1
16.00     1
26.00     1
21.59     1
17.78     1
17.70     1
22.20     1
Name: Length, dtype: int64


22.000    43
21.500    34
21.000    28
23.000    28
20.000    21
22.500    19
23.500    18
20.500    17
24.000    16
25.000     9
24.500     9
19.000     7
19.500     6
25.500     5
26.000     3
29.000     2
17.000     2
26.500     2
22.125     1
23.800     1
22.750     1
22.700     1
18.000     1
27.000     1
18.500     1
21.200     1
20.800     1
21.300     1
22.225     1
21.750     1
Name: Circum, dtype: int64


0.77    19
0.65    17
0.75    13
0.68    13
0.85    13
        ..
0.55     1
1.02     1
0.41     1
1.08     1
1.03     1
Name: Volume, Length: 64, dtype: int64


4.00    130
3.00    100
3.50     63
4.50     30
2.00     27
5.00     25
2.50     20
3.80      7
1.50      6
4.20      2
3.75      2
3.20      2
3.60      2
2.10      1
4.80      1
1.00      1
1.40      1
2.80      1
Name: Tortilla, dtype: int64


4.0    101
5.0     80
3.0     58
4.5     56
3.5     30
2.5     28
2.0     28
1.0      4
1.5      3
3.8      3
4.7      2
4.4      2
1.3      1
3.6      1
3.2      1
1.9      1
3.7      1
4.2      1
Name: Temp, dtype: int64


4.00    120
3.50     69
3.00     62
4.50     37
5.00     35
2.00     25
2.50     18
1.50      5
3.80      5
4.20      4
3.30      4
4.30      3
1.00      3
3.20      3
3.70      3
2.60      2
3.75      2
2.75      2
4.70      1
2.70      1
2.80      1
4.10      1
3.90      1
Name: Meat, dtype: int64


4.00    115
3.00     91
3.50     74
5.00     31
4.50     27
2.00     24
2.50     22
3.80      6
2.80      4
1.50      3
1.00      3
4.20      3
2.40      2
4.70      2
4.30      2
3.20      2
3.70      2
2.75      1
3.60      1
3.30      1
4.40      1
3.40      1
Name: Fillings, dtype: int64


4.00    114
3.00     63
4.50     48
5.00     46
3.50     43
2.50     24
2.00     23
1.50     11
1.00     11
3.80      4
3.75      3
3.70      3
4.70      3
3.40      2
4.20      2
3.20      2
2.90      2
3.78      1
3.60      1
0.50      1
4.80      1
2.80      1
1.40      1
4.90      1
1.80      1
Name: Meat:filling, dtype: int64


4.00    110
3.00     54
3.50     48
2.00     48
4.50     44
5.00     41
2.50     24
1.00     15
1.50     11
2.40      2
4.30      2
4.40      2
3.80      2
2.80      2
0.00      1
4.75      1
3.70      1
4.20      1
2.20      1
1.80      1
2.30      1
1.60      1
4.60      1
3.30      1
2.70      1
3.20      1
3.10      1
3.40      1
Name: Uniformity, dtype: int64


4.00    86
3.00    84
3.50    55
2.00    38
2.50    33
4.50    31
5.00    23
1.50     8
3.80     6
1.00     5
4.30     4
4.20     3
3.70     3
3.30     2
3.75     2
3.90     2
0.50     1
4.70     1
2.75     1
0.00     1
2.90     1
4.80     1
3.60     1
3.20     1
2.20     1
1.80     1
4.75     1
Name: Salsa, dtype: int64


4.00    118
3.00     66
3.50     55
4.50     42
5.00     33
2.00     28
2.50     24
3.80      8
1.50      7
1.00      5
4.30      4
3.75      3
2.80      3
3.70      3
4.20      3
4.80      2
4.70      2
2.90      2
3.30      2
4.90      2
2.70      1
4.60      1
4.40      1
3.40      1
3.20      1
2.30      1
2.20      1
Name: Synergy, dtype: int64


5.0    137
4.0     89
4.5     65
3.0     41
3.5     20
2.0     18
1.5     11
1.0      9
2.5      8
0.5      4
4.8      3
3.8      2
3.4      1
0.0      1
4.2      1
2.6      1
4.3      1
2.2      1
3.3      1
2.8      1
3.7      1
1.2      1
3.9      1
Name: Wrap, dtype: int64


x    33
Name: Unreliable, dtype: int64


x    5
X    2
Name: NonSD, dtype: int64


x    137
X     42
Name: Beef, dtype: int64


x    127
X     31
Name: Pico, dtype: int64


x    114
X     40
Name: Guac, dtype: int64


x    128
X     31
Name: Cheese, dtype: int64


x    102
X     25
Name: Fries, dtype: int64


x    67
X    25
Name: Sour cream, dtype: int64


x    36
X    15
Name: Pork, dtype: int64


x    20
X     1
Name: Chicken, dtype: int64


x    17
X     4
Name: Shrimp, dtype: int64


x    4
X    2
Name: Fish, dtype: int64


x    26
X    10
Name: Rice, dtype: int64


x    27
X     8
Name: Beans, dtype: int64


x    9
X    2
Name: Lettuce, dtype: int64


x    5
X    2
Name: Tomato, dtype: int64


x    4
X    3
Name: Bell peper, dtype: int64


x    1
Name: Carrots, dtype: int64


x    6
X    2
Name: Cabbage, dtype: int64


x    33
X     5
Name: Sauce, dtype: int64


x    6
X    1
Name: Salsa.1, dtype: int64


x    9
X    6
Name: Cilantro, dtype: int64


x    9
X    8
Name: Onion, dtype: int64


x    3
X    1
Name: Taquito, dtype: int64


x    5
X    2
Name: Pineapple, dtype: int64


x    2
Name: Ham, dtype: int64


x    4
Name: Chile relleno, dtype: int64


x    4
Name: Nopales, dtype: int64


x    1
Name: Lobster, dtype: int64


Series([], Name: Queso, dtype: int64)


x    5
Name: Egg, dtype: int64


x    3
Name: Mushroom, dtype: int64


x    3
Name: Bacon, dtype: int64


x    2
Name: Sushi, dtype: int64


x    13
Name: Avocado, dtype: int64


x    2
X    1
Name: Corn, dtype: int64


x    1
Name: Zucchini, dtype: int64


False    239
True     182
Name: Great, dtype: int64

In [10]:
df0 = df.drop(columns='Queso')
'Queso' in list(df0.columns)

False

In [11]:
df0['Year'] = pd.DatetimeIndex(df['Date']).year
df0.head()

      Burrito       Date  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great  Year
0  California  1/18/2016   3.5     4.2   NaN  ...      NaN   NaN       NaN  False  2016
1  California  1/24/2016   3.5     3.3   NaN  ...      NaN   NaN       NaN  False  2016
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
3       Asada  1/24/2016   NaN     NaN   NaN  ...      NaN   NaN       NaN  False  2016
4  California  1/27/2016   4.0     3.8     x  ...      NaN   NaN       NaN   True  2016

[5 rows x 59 columns]

In [12]:
df0['Month'] = pd.DatetimeIndex(df['Date']).month
df0.head()

      Burrito       Date  Yelp  Google Chips  ...  Corn  Zucchini  Great  Year  Month
0  California  1/18/2016   3.5     4.2   NaN  ...   NaN       NaN  False  2016      1
1  California  1/24/2016   3.5     3.3   NaN  ...   NaN       NaN  False  2016      1
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...   NaN       NaN  False  2016      1
3       Asada  1/24/2016   NaN     NaN   NaN  ...   NaN       NaN  False  2016      1
4  California  1/27/2016   4.0     3.8     x  ...   NaN       NaN   True  2016      1

[5 rows x 60 columns]

In [13]:
df0['Day'] = pd.DatetimeIndex(df['Date']).day
df0.head()

      Burrito       Date  Yelp  Google Chips  ...  Zucchini  Great  Year  Month  Day
0  California  1/18/2016   3.5     4.2   NaN  ...       NaN  False  2016      1   18
1  California  1/24/2016   3.5     3.3   NaN  ...       NaN  False  2016      1   24
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...       NaN  False  2016      1   24
3       Asada  1/24/2016   NaN     NaN   NaN  ...       NaN  False  2016      1   24
4  California  1/27/2016   4.0     3.8     x  ...       NaN   True  2016      1   27

[5 rows x 61 columns]

In [14]:
df1 = df0.drop(columns='Date')
'Date' in list(df1.columns)

False

In [15]:
df1['Chips'] = (
    df1['Chips']
    .str.replace('NaN','N')
    .str.replace('No','N')
    .str.replace('Yes','Y')
    .str.replace('X','Y')
    .str.replace('x','Y')
    # .astype(str)
)
df1.Chips.value_counts()

Y    25
N     1
Name: Chips, dtype: int64

In [16]:
df1.Chips.fillna(value='N', inplace=True)
df1.head()

      Burrito  Yelp  Google Chips  Cost  ...  Zucchini  Great  Year  Month  Day
0  California   3.5     4.2     N  6.49  ...       NaN  False  2016      1   18
1  California   3.5     3.3     N  5.45  ...       NaN  False  2016      1   24
2    Carnitas   NaN     NaN     N  4.85  ...       NaN  False  2016      1   24
3       Asada   NaN     NaN     N  5.25  ...       NaN  False  2016      1   24
4  California   4.0     3.8     Y  6.59  ...       NaN   True  2016      1   27

[5 rows x 60 columns]

In [17]:
df1.loc[:,'Unreliable':'Zucchini'] = df1.loc[:,'Unreliable':'Zucchini'].replace('X', 'Y', regex=True).replace('x', 'Y', regex=True)
df1.head()

      Burrito  Yelp  Google Chips  Cost  ...  Zucchini  Great  Year  Month  Day
0  California   3.5     4.2     N  6.49  ...       NaN  False  2016      1   18
1  California   3.5     3.3     N  5.45  ...       NaN  False  2016      1   24
2    Carnitas   NaN     NaN     N  4.85  ...       NaN  False  2016      1   24
3       Asada   NaN     NaN     N  5.25  ...       NaN  False  2016      1   24
4  California   4.0     3.8     Y  6.59  ...       NaN   True  2016      1   27

[5 rows x 60 columns]

In [18]:
df1.loc[:,'Unreliable':'Zucchini'] = df1.loc[:,'Unreliable':'Zucchini'].fillna(value='N')
df1.head()

      Burrito  Yelp  Google Chips  Cost  ...  Zucchini  Great  Year  Month  Day
0  California   3.5     4.2     N  6.49  ...         N  False  2016      1   18
1  California   3.5     3.3     N  5.45  ...         N  False  2016      1   24
2    Carnitas   NaN     NaN     N  4.85  ...         N  False  2016      1   24
3       Asada   NaN     NaN     N  5.25  ...         N  False  2016      1   24
4  California   4.0     3.8     Y  6.59  ...         N   True  2016      1   27

[5 rows x 60 columns]

In [19]:
for feature in list(df1.columns):
  print(df1[feature].value_counts())
  print('\n')

California     169
Other          156
Asada           43
Surf & Turf     28
Carnitas        25
Name: Burrito, dtype: int64


4.0    41
4.5    18
3.5    18
3.0     7
2.5     2
4.2     1
Name: Yelp, dtype: int64


4.4    12
4.1    12
4.2    11
4.0     9
4.5     6
4.3     6
3.9     6
3.8     6
4.7     4
4.6     3
3.4     2
3.7     2
4.9     2
3.3     2
4.8     1
2.9     1
5.0     1
3.5     1
Name: Google, dtype: int64


N    396
Y     25
Name: Chips, dtype: int64


6.25     40
5.99     23
6.99     23
7.90     20
7.50     17
         ..
6.70      1
11.50     1
25.00     1
4.59      1
5.45      1
Name: Cost, Length: 98, dtype: int64


4.00    126
3.50     82
3.00     80
2.00     26
5.00     22
2.50     22
4.50     21
1.00      7
3.20      4
4.30      4
3.70      3
3.80      3
3.75      3
1.50      2
3.90      2
4.20      2
4.25      1
0.50      1
4.40      1
2.80      1
4.10      1
2.30      1
3.30      1
2.20      1
4.75      1
Name: Hunger, dtype: int64


450.0    3
550.0    2
540.0    2
635.0    1
350.0    1
520.0    1
476.0    1
560.0    1
920.0    1
430.0    1
600.0    1
610.0    1
580.0    1
620.0    1
420.0    1
925.0    1
425.0    1
415.0    1
Name: Mass (g), dtype: int64


0.625000    2
0.600649    1
0.726190    1
0.687500    1
0.632353    1
0.617647    1
0.560000    1
0.632653    1
0.865672    1
0.708333    1
0.744681    1
0.785714    1
0.597403    1
0.626506    1
0.683544    1
0.613636    1
0.565657    1
0.783951    1
0.779221    1
0.691667    1
0.703125    1
Name: Density (g/mL), dtype: int64


20.00    34
19.00    29
18.00    24
18.50    23
19.50    21
21.00    19
20.50    17
22.50    16
23.00    16
22.00    16
17.00    14
21.50    13
17.50     9
16.50     5
23.50     5
24.00     4
25.00     2
25.50     2
15.00     2
15.50     2
24.50     2
21.30     1
20.75     1
16.00     1
26.00     1
21.59     1
17.78     1
17.70     1
22.20     1
Name: Length, dtype: int64


22.000    43
21.500    34
21.000    28
23.000    28
20.000    21
22.500    19
23.500    18
20.500    17
24.000    16
25.000     9
24.500     9
19.000     7
19.500     6
25.500     5
26.000     3
29.000     2
17.000     2
26.500     2
22.125     1
23.800     1
22.750     1
22.700     1
18.000     1
27.000     1
18.500     1
21.200     1
20.800     1
21.300     1
22.225     1
21.750     1
Name: Circum, dtype: int64


0.77    19
0.65    17
0.75    13
0.68    13
0.85    13
        ..
0.55     1
1.02     1
0.41     1
1.08     1
1.03     1
Name: Volume, Length: 64, dtype: int64


4.00    130
3.00    100
3.50     63
4.50     30
2.00     27
5.00     25
2.50     20
3.80      7
1.50      6
4.20      2
3.75      2
3.20      2
3.60      2
2.10      1
4.80      1
1.00      1
1.40      1
2.80      1
Name: Tortilla, dtype: int64


4.0    101
5.0     80
3.0     58
4.5     56
3.5     30
2.5     28
2.0     28
1.0      4
1.5      3
3.8      3
4.7      2
4.4      2
1.3      1
3.6      1
3.2      1
1.9      1
3.7      1
4.2      1
Name: Temp, dtype: int64


4.00    120
3.50     69
3.00     62
4.50     37
5.00     35
2.00     25
2.50     18
1.50      5
3.80      5
4.20      4
3.30      4
4.30      3
1.00      3
3.20      3
3.70      3
2.60      2
3.75      2
2.75      2
4.70      1
2.70      1
2.80      1
4.10      1
3.90      1
Name: Meat, dtype: int64


4.00    115
3.00     91
3.50     74
5.00     31
4.50     27
2.00     24
2.50     22
3.80      6
2.80      4
1.50      3
1.00      3
4.20      3
2.40      2
4.70      2
4.30      2
3.20      2
3.70      2
2.75      1
3.60      1
3.30      1
4.40      1
3.40      1
Name: Fillings, dtype: int64


4.00    114
3.00     63
4.50     48
5.00     46
3.50     43
2.50     24
2.00     23
1.50     11
1.00     11
3.80      4
3.75      3
3.70      3
4.70      3
3.40      2
4.20      2
3.20      2
2.90      2
3.78      1
3.60      1
0.50      1
4.80      1
2.80      1
1.40      1
4.90      1
1.80      1
Name: Meat:filling, dtype: int64


4.00    110
3.00     54
3.50     48
2.00     48
4.50     44
5.00     41
2.50     24
1.00     15
1.50     11
2.40      2
4.30      2
4.40      2
3.80      2
2.80      2
0.00      1
4.75      1
3.70      1
4.20      1
2.20      1
1.80      1
2.30      1
1.60      1
4.60      1
3.30      1
2.70      1
3.20      1
3.10      1
3.40      1
Name: Uniformity, dtype: int64


4.00    86
3.00    84
3.50    55
2.00    38
2.50    33
4.50    31
5.00    23
1.50     8
3.80     6
1.00     5
4.30     4
4.20     3
3.70     3
3.30     2
3.75     2
3.90     2
0.50     1
4.70     1
2.75     1
0.00     1
2.90     1
4.80     1
3.60     1
3.20     1
2.20     1
1.80     1
4.75     1
Name: Salsa, dtype: int64


4.00    118
3.00     66
3.50     55
4.50     42
5.00     33
2.00     28
2.50     24
3.80      8
1.50      7
1.00      5
4.30      4
3.75      3
2.80      3
3.70      3
4.20      3
4.80      2
4.70      2
2.90      2
3.30      2
4.90      2
2.70      1
4.60      1
4.40      1
3.40      1
3.20      1
2.30      1
2.20      1
Name: Synergy, dtype: int64


5.0    137
4.0     89
4.5     65
3.0     41
3.5     20
2.0     18
1.5     11
1.0      9
2.5      8
0.5      4
4.8      3
3.8      2
3.4      1
0.0      1
4.2      1
2.6      1
4.3      1
2.2      1
3.3      1
2.8      1
3.7      1
1.2      1
3.9      1
Name: Wrap, dtype: int64


N    388
Y     33
Name: Unreliable, dtype: int64


N    414
Y      7
Name: NonSD, dtype: int64


N    242
Y    179
Name: Beef, dtype: int64


N    263
Y    158
Name: Pico, dtype: int64


N    267
Y    154
Name: Guac, dtype: int64


N    262
Y    159
Name: Cheese, dtype: int64


N    294
Y    127
Name: Fries, dtype: int64


N    329
Y     92
Name: Sour cream, dtype: int64


N    370
Y     51
Name: Pork, dtype: int64


N    400
Y     21
Name: Chicken, dtype: int64


N    400
Y     21
Name: Shrimp, dtype: int64


N    415
Y      6
Name: Fish, dtype: int64


N    385
Y     36
Name: Rice, dtype: int64


N    386
Y     35
Name: Beans, dtype: int64


N    410
Y     11
Name: Lettuce, dtype: int64


N    414
Y      7
Name: Tomato, dtype: int64


N    414
Y      7
Name: Bell peper, dtype: int64


N    420
Y      1
Name: Carrots, dtype: int64


N    413
Y      8
Name: Cabbage, dtype: int64


N    383
Y     38
Name: Sauce, dtype: int64


N    414
Y      7
Name: Salsa.1, dtype: int64


N    406
Y     15
Name: Cilantro, dtype: int64


N    404
Y     17
Name: Onion, dtype: int64


N    417
Y      4
Name: Taquito, dtype: int64


N    414
Y      7
Name: Pineapple, dtype: int64


N    419
Y      2
Name: Ham, dtype: int64


N    417
Y      4
Name: Chile relleno, dtype: int64


N    417
Y      4
Name: Nopales, dtype: int64


N    420
Y      1
Name: Lobster, dtype: int64


N    416
Y      5
Name: Egg, dtype: int64


N    418
Y      3
Name: Mushroom, dtype: int64


N    418
Y      3
Name: Bacon, dtype: int64


N    419
Y      2
Name: Sushi, dtype: int64


N    408
Y     13
Name: Avocado, dtype: int64


N    418
Y      3
Name: Corn, dtype: int64


N    420
Y      1
Name: Zucchini, dtype: int64


False    239
True     182
Name: Great, dtype: int64


2016    296
2017     85
2018     27
2019     10
2026      1
2015      1
2011      1
Name: Year, dtype: int64


5     75
8     74
4     53
6     41
3     30
9     28
11    27
2     27
1     25
10    24
7      9
12     8
Name: Month, dtype: int64


30    36
27    28
24    23
6     21
16    19
12    18
2     15
7     15
23    15
9     15
15    14
11    14
20    14
17    14
3     13
14    13
1     13
25    13
29    13
21    12
22    12
18    10
13    10
4      9
19     8
8      8
5      8
26     7
10     6
28     4
31     1
Name: Day, dtype: int64

In [20]:
df1.dtypes

Burrito            object
Yelp              float64
Google            float64
Chips              object
Cost              float64
Hunger            float64
Mass (g)          float64
Density (g/mL)    float64
Length            float64
Circum            float64
Volume            float64
Tortilla          float64
Temp              float64
Meat              float64
Fillings          float64
Meat:filling      float64
Uniformity        float64
Salsa             float64
Synergy           float64
Wrap              float64
Unreliable         object
NonSD              object
Beef               object
Pico               object
Guac               object
Cheese             object
Fries              object
Sour cream         object
Pork               object
Chicken            object
Shrimp             object
Fish               object
Rice               object
Beans              object
Lettuce            object
Tomato             object
Bell peper         object
Carrots            object
Cabbage            object
Sauce              object
Salsa.1            object
Cilantro           object
Onion              object
Taquito            object
Pineapple          object
Ham                object
Chile relleno      object
Nopales            object
Lobster            object
Egg                object
Mushroom           object
Bacon              object
Sushi              object
Avocado            object
Corn               object
Zucchini           object
Great                bool
Year                int64
Month               int64
Day                 int64
dtype: object

In [0]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

In [0]:
df1_encoded = encoder.fit_transform(df1)

In [23]:
train = df1_encoded[df1_encoded.Year <= 2016]
val = df1_encoded[df1_encoded.Year == 2017]
test = df1_encoded[df1_encoded.Year >= 2018]
train.shape, val.shape, test.shape

((298, 101), (85, 101), (38, 101))

# Train / Val / Test split! Begin BASELINE

In [24]:
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [25]:
majority_class = y_train.mode()[0]
majority_class

False

In [0]:
from sklearn.metrics import accuracy_score

In [27]:
y_val = val[target]
y_pred = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred)

0.5529411764705883

#BASELINE = 55.29%

In [28]:
y_test = test[target]
y_test.shape

(38,)

In [56]:
X_train = train.drop(columns=['Great','Mass (g)','Density (g/mL)'])
X_train.head()

   Burrito_California  Burrito_Carnitas  Burrito_Asada  ...  Year  Month  Day
0                   1                 0              0  ...  2016      1   18
1                   1                 0              0  ...  2016      1   24
2                   0                 1              0  ...  2016      1   24
3                   0                 0              1  ...  2016      1   24
4                   1                 0              0  ...  2016      1   27

[5 rows x 98 columns]

In [57]:
X_val = val.drop(columns=['Great','Mass (g)','Density (g/mL)'])
X_test = test.drop(columns=['Great','Mass (g)','Density (g/mL)'])
X_test.shape,X_val.shape

((38, 98), (85, 98))

In [58]:
X_train.isnull().sum()

Burrito_California     0
Burrito_Carnitas       0
Burrito_Asada          0
Burrito_Other          0
Burrito_Surf & Turf    0
                      ..
Zucchini_N             0
Zucchini_Y             0
Year                   0
Month                  0
Day                    0
Length: 98, dtype: int64

In [0]:
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
import numpy as np
imputer = SimpleImputer()

In [64]:
X_train_imp = imputer.fit_transform(X_train)
X_val_imp = imputer.transform(X_val)
X_test_imp = imputer.transform(X_test)
X_train_imp.shape, X_val_imp.shape, X_test_imp.shape

((298, 98), (85, 98), (38, 98))

In [75]:
scaler = StandardScaler()
X_train_sca = scaler.fit_transform(X_train_imp)
X_val_sca = scaler.transform(X_val_imp)
X_test_sca = scaler.transform(X_test_imp)
X_train_sca.shape, X_val_sca.shape, X_test_sca.shape

((298, 98), (85, 98), (38, 98))

In [76]:
X_train_imp_sca = pd.DataFrame(X_train_sca, columns=X_train.columns)
X_val_imp_sca = pd.DataFrame(X_val_sca, columns=X_train.columns)
X_test_imp_sca = pd.DataFrame(X_test_sca, columns=X_train.columns)
X_train_imp_sca.shape, X_val_imp_sca.shape, X_test_imp_sca.shape

((298, 98), (85, 98), (38, 98))

In [83]:
model = LogisticRegressionCV(max_iter=1000)
model.fit(X_train_imp_sca, y_train)
print('Validation Accuracy', model.score(X_val_imp_sca, y_val))

Validation Accuracy 0.7764705882352941

In [85]:
print('Test Accuracy', model.score(X_test_imp_sca, y_test))

Test Accuracy 0.7894736842105263

In [87]:
%matplotlib inline
coefficients = pd.Series(model.coef_[0], X_train_imp_sca.columns)
coefficients

Burrito_California     0.361657
Burrito_Carnitas      -0.116917
Burrito_Asada         -0.026826
Burrito_Other         -0.427335
Burrito_Surf & Turf    0.245071
Yelp                   0.112057
Google                -0.004721
Chips_N                0.025324
Chips_Y               -0.025324
Cost                   0.379896
Hunger                 0.264202
Length                 0.074851
Circum                 0.038277
Volume                 0.103648
Tortilla               0.554991
Temp                   0.589185
Meat                   1.312680
Fillings               0.950102
Meat:filling           0.981998
Uniformity             0.193212
Salsa                  0.137158
Synergy                1.374443
Wrap                   0.116026
Unreliable_N          -0.112221
Unreliable_Y           0.112221
NonSD_N               -0.046816
NonSD_Y                0.046816
Beef_Y                -0.230955
Beef_N                 0.230955
Pico_Y                -0.084723
Pico_N                 0.084723
Guac_Y                 0.150593
Guac_N                -0.150593
Cheese_Y               0.008952
Cheese_N              -0.008952
Fries_Y               -0.134371
Fries_N                0.134371
Sour cream_N          -0.020631
Sour cream_Y           0.020631
Pork_N                -0.114491
Pork_Y                 0.114491
Chicken_N              0.116305
Chicken_Y             -0.116305
Shrimp_N               0.116164
Shrimp_Y              -0.116164
Fish_N                -0.003562
Fish_Y                 0.003562
Rice_N                -0.082153
Rice_Y                 0.082153
Beans_N                0.313508
Beans_Y               -0.313508
Lettuce_N              0.121360
Lettuce_Y             -0.121360
Tomato_N               0.100950
Tomato_Y              -0.100950
Bell peper_N           0.108696
Bell peper_Y          -0.108696
Carrots_N              0.008278
Carrots_Y             -0.008278
Cabbage_N             -0.010088
Cabbage_Y              0.010088
Sauce_N               -0.025578
Sauce_Y                0.025578
Salsa.1_N             -0.043676
Salsa.1_Y              0.043676
Cilantro_N            -0.098476
Cilantro_Y             0.098476
Onion_N               -0.029814
Onion_Y                0.029814
Taquito_N              0.022723
Taquito_Y             -0.022723
Pineapple_N            0.356019
Pineapple_Y           -0.356019
Ham_N                 -0.194871
Ham_Y                  0.194871
Chile relleno_N       -0.080415
Chile relleno_Y        0.080415
Nopales_N             -0.082000
Nopales_Y              0.082000
Lobster_N              0.055128
Lobster_Y             -0.055128
Egg_N                 -0.020037
Egg_Y                  0.020037
Mushroom_N             0.006567
Mushroom_Y            -0.006567
Bacon_N               -0.083080
Bacon_Y                0.083080
Sushi_N               -0.086876
Sushi_Y                0.086876
Avocado_N              0.141059
Avocado_Y             -0.141059
Corn_N                 0.009963
Corn_Y                -0.009963
Zucchini_N            -0.147735
Zucchini_Y             0.147735
Year                   0.002075
Month                 -0.235469
Day                    0.172131
dtype: float64

## Assignment 🌯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [x] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [x] Begin with baselines for classification.
- [x] Use scikit-learn for logistic regression.
- [x] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).